.location-selector {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  border-radius: 10px;
  border: #444;
  background-color: rgba(38, 38, 38, 0.75);
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
}