#root > div {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.map-control-group {
  position: absolute;
}

.map-control-group.top {
  top: 0;
}

.map-control-group.left {
  left: 0;
}

.map-control-group.bottom {
  bottom: 0;
}

.map-control-group.left.bottom {
  bottom: 34px;
}

.map-control-group.right {
  right: 0;
}

.map-control {
  border-radius: 10px;
  border: #444;
  font-family: sans-serif;
  font-size: 1em;
  background-color: rgba(38, 38, 38, 0.75);
  color: #ccc;
  padding: 12px;
  margin: 10px;
}

.location-selector {
  width: 220px;
}

.location-selector select {
  background-color: #444;
  color: #eee;
  margin-top: 12px;
  font-size: 16px;
  padding: 5px;
  width: 100%;
}

.layer-selector select {
  background-color: #444;
  color: #eee;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.layer-selector .selects :last-child {
  margin-right: 0;
}

.layer-selector .name {
  display: inline-block;
  width: 14em;
}

.layer-selector .group-name {
  font-weight: bold;
}

.layer-selector .opacity-slider {
  width: 5em;
  float: right;
}

.layer-selector .list-container {
  height: 14em;
  overflow-y: auto;
  padding-right: 1em
}

.layer-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.legends > div {
  overflow-y: auto;
  max-height: 17em;
}

.legends .legend {
  margin-bottom: 0.75em;
}

.legends > div :last-child {
  margin-bottom: 0;
}

.legends ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.legends .title {
  margin: 0;
  margin-bottom: 0.75em;
  font-weight: bold;
}

.legends .color-block {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid #555;
  background-color: white;
  margin-right: 0.5em;
}

.legends .gradient-block {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 16px;
  border: 1px solid #555;
  background-color: white;
}

/* width */
.map-control ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.map-control ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.map-control ::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}